<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <img src=<% @user.avatar_url %> />
</p>

<p>
  <%= link_to 'All My Savings', '/mysavings' %><br>
  <button>All My External Savings</button><br>
  <button>All My Groups</button><br>
</p>