<%= information_rendering %>
<body class="container">
  <div class="welcome-view">
    <div class="main-title font-dark-blue">
      Save It
    </div>
    <div class="button-section">
      <%= link_to "/users" do%>
        <span class="pseudo-button green">Sign In</span></a>
      <% end %>
    </div>
    <div class="button-section">
      <%= link_to "/users/new" do%>
        <span class="pseudo-button dark-blue">Register</span></a>
      <% end %>
    </div>
  </div>
</body>